__pycache__/
*.py[cod]
*$py.class
third_party/
results/
.deepeval/
# TF metadata directories
**/.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Local temp and binary files
*-rendered.yaml
tofu
